.container-fluid{
	background-color: #202020;
}
.jumbotron{
	background-color: rgb(246,248,249);/*#7a005c;*/
	width: 1200px;
	margin: auto;
	height: 1800px;
}
.text{
	font-family: "SimHei"; 
}
a{
	color:rgb(64,212,126); 
}