.section{
	text-align: center;
}
.section a{
	text-decoration: none;
	/*vertical-align: center;*/
}
/*.section a img{

}*/
#photo{
	width: 250px;
	height: 250px;
	border-radius: 250px;
	border:5px solid #90caaf;
}
h2{
	color: white;
	font:bold 46px "simhei" ;
}
h3{
	color: white;
	font: 36px "simhei";
}
#git{
	font: 30px "simhei";
}
a:link{
	color: #90caaf;
		}
/*鼠标放上去的瞬间*/
a:hover {
	color: #222327;
		}
/*访问过后*/
a:visited{
	color:#31A061;
	}
#skill{
	background: pink;
	width: 1400px;
	margin: 0 auto ;
}
.applogo{
	float: left;
	margin: 20px 60px;
}
#add{
	
	font:40px "simhei";
	font-color:pink; 
}
#work img{
	width: 1180px;
	height: 690px;
}
.box{
	width: 1640px;
	margin: 0 auto
}
.pic{
	padding: 10px;
	width: 800px;
	height: 535px;
	float: left;
}
.pic img{
	width: 800px;
	height: 535px;
}
#email img{
	width: 35px;
	height: 30px; 
}