.section{
	text-align: center;
}
.section a{
	text-decoration: none;
	/*vertical-align: center;*/
}
/*.section a img{

}*/
#photo{
	border-radius: 250px;
}
h2{
	color: white;
	font:46px "华文新魏";
}
h3{
	color: white;
	font: 36px "pxp bold" "楷体";
}
#git{
	font: 30px "pxp bold";
}
a:link{
	color: #dc458d;
		}
/*鼠标放上去的瞬间*/
a:hover {
	color: #222327;
		}
/*访问过后*/
a:visited{
	color:#ffffff;
	}
#skill{
	background: pink;
	width: 1400px;
	margin: 0 auto ;
}
.applogo{
	float: left;
	margin: 20px 60px;
}
#add{
	
	font:40px "simhei";
	font-color:pink; 
}
#work img{
	width: 1180px;
	height: 690px;
}
#email img{
	width: 35px;
	height: 30px; 
}